---
layout: default
---

{% assign months = "januari|februari|maart|april|mei|juni|juli|augustus|september|oktober|november|december" | split: "|" %}

{% for post in paginator.posts %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="main-content" itemprop="articleBody">

<a name="blog{{ forloop.index }}"></a>


  {% assign m = post.date | date: "%-m" | minus: 1 %}
  {% assign day = post.date | date: "%-d" %}
  {% assign month = months[m] %}
  {% assign year = post.date | date: "%Y" %}

  <header class="post-header">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h3 class="post-title" itemprop="name headline">{{ post.title }}</h3> </a>
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ day }} {{ month }} {{ year }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}

  </header>

    {{ post.excerpt }}
    <div style="float: right;">
      <p class="post-meta" ><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Lees verder</a></p>
    </div>
    <div style="clear: both;">
    


  </div>

</article>

{% endfor %}

<div class="pagination" style="text-align: center;">

  {% if paginator.next_page %}
    <h2><a href="{{ paginator.next_page_path }}" class="next">- meer items -</a></h2>
  {% endif %}

  {% if paginator.previous_page %}
    <h2><a href="{{ paginator.previous_page_path }}" class="previous">- vorige pagina -</a></h2>
  {% endif %}

</div>
