// Colours
$bodyColour: rgb(50, 0, 0);
$headingColour: darken($bodyColour, 5%);
$linkColour: rgb(0, 0, 50);
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #fff;
$codeBackgroundColour: darken($backgroundColour, 5%);
