// Colours
$bodyColour: #353535;
$headingColour: darken($bodyColour, 5%);
$linkColour: #e72828;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #fff;
$codeBackgroundColour: darken($backgroundColour, 5%);
